# Export all names
exportPattern(".")
export(installpack)
export(disableDownload)
export(fileInputFunc)
export(trueFalseFunc)
export(getLogo)
export(getLoadingMsg)
export(startcrisprseekplus)
importFrom(shiny,renderUI)
importFrom(shiny,tags)
importFrom(shiny,conditionalPanel)
importFrom(shiny,img)
importFrom(shinyjs, toggleState) 
importFrom(shiny, isolate)
importFrom(shiny,eventReactive)
importFrom(shiny,downloadHandler)
importFrom(shiny,actionButton)
importFrom(shiny,actionLink)
importFrom(shiny,addResourcePath)
importFrom(shiny,br)
importFrom(shiny,checkboxGroupInput)
importFrom(shiny,checkboxInput)
importFrom(shiny,column)
importFrom(shiny,downloadButton)
importFrom(shiny,fileInput)
importFrom(shiny,fluidPage)
importFrom(shiny,h4)
importFrom(shiny,helpText)
importFrom(shiny,icon)
importFrom(shiny,mainPanel)
importFrom(shiny,need)
importFrom(shiny,numericInput)
importFrom(shiny,observe)
importFrom(shiny,observeEvent)
importFrom(shiny,outputOptions)
importFrom(shiny,parseQueryString)
importFrom(shiny,plotOutput)
importFrom(shiny,radioButtons)
importFrom(shiny,reactive)
importFrom(shiny,reactiveValues)
importFrom(shiny,renderPlot)
importFrom(shiny,runApp)
importFrom(shiny,selectInput)
importFrom(shiny,shinyApp)
importFrom(shiny,shinyServer)
importFrom(shiny,shinyUI)
importFrom(shiny,sidebarLayout)
importFrom(shiny,sidebarPanel)
importFrom(shiny,sliderInput)
importFrom(shiny,stopApp)
importFrom(shiny,tabPanel)
importFrom(shiny,tabsetPanel)
importFrom(shiny,textInput)
importFrom(shiny,textOutput)
importFrom(shiny,titlePanel)
importFrom(shiny,uiOutput)
importFrom(shiny,updateTabsetPanel)
importFrom(shiny,updateTextInput)
importFrom(shiny,validate)
importFrom(shiny,wellPanel)
importFrom(utils,zip)
importFrom(utils, read.csv)
importFrom(utils,update.packages)
importFrom(utils,read.table)
importFrom(shiny,observeEvent)
importFrom(shinyjs,reset)
importFrom(shiny,renderPrint)
importFrom(CRISPRseek,offTargetAnalysis)
importFrom(CRISPRseek,compare2Sequences)
importFrom(GUIDEseq,GUIDEseqAnalysis)
importFrom(org.Hs.eg.db, org.Hs.egSYMBOL)
importFrom(BSgenome.Hsapiens.UCSC.hg19, Hsapiens)
import(TxDb.Hsapiens.UCSC.hg19.knownGene)
importFrom(DT,dataTableOutput)
importFrom(DT,datatable)
importFrom(DT,renderDataTable)
import(GenomicRanges)
importFrom(GenomicRanges, GRanges)
importFrom(GenomicFeatures, exons)